# backend build variables
# Commit hash to fix a specific package version
# Remember to rebuild the backend container if you change these variables,
# since they are only applied at build time.
LIPIDLIBRARIAN_GIT_BRANCH=dev

# backend runtime variables
# Set a secure DB_PASSWORD, ALEX123_DB_PASSWORD, and DJANGO_SECRET_KEY.
DJANGO_SECRET_KEY=foo
DB_NAME=django
DB_USER=django
DB_PASSWORD=foo
ALEX123_DB_NAME=alex123
ALEX123_DB_USER=alex123
ALEX123_DB_PASSWORD=foo

# frontend build variables
# With APP_URL_DEST you can set a custom destination as the lipid librarian root,
# for example with APP_URL_DEST=lipidlibrarian the url will become
# https://www.example.com/lipidlibrarian/; for security reasons, angular needs
# to be compiled with this variable and it cannot be changed at runtime.
# Remember to rebuild the frontend container if you change these variables,
# since they are only applied at build time.
APP_URL_DEST=

# App variables
APP_TIMEZONE=Europe/Berlin
