<form>
  <div class="mb-3 row">
    <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
    <div class="col-xs-3 col-sm-auto">
      <input
        id="table-complete-search"
        type="text"
        class="form-control"
        name="searchTerm"
        [(ngModel)]="service.searchTerm"
      />
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" fragmentSortableAttribute="name" (sort)="onSort($event)">Name</th>
        <th scope="col" fragmentSortableAttribute="mass" (sort)="onSort($event)">Mass</th>
        <th scope="col" fragmentSortableAttribute="adduct_name" (sort)="onSort($event)">Adduct Name</th>
        <th scope="col" fragmentSortableAttribute="sum_formula" (sort)="onSort($event)">Sum Formula</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fragment of fragments$ | async">
        <td><ngb-highlight [result]="fragment.name" [term]="service.searchTerm"></ngb-highlight></td>
        <td><ngb-highlight [result]="fragment.mass?.toString()" [term]="service.searchTerm"></ngb-highlight></td>
        <td><ngb-highlight [result]="fragment.adduct_name" [term]="service.searchTerm"></ngb-highlight></td>
        <td><ngb-highlight [result]="fragment.sum_formula" [term]="service.searchTerm"></ngb-highlight></td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize"></ngb-pagination>

    <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="5">5 items per page</option>
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="50">50 items per page</option>
    </select>
  </div>
</form>
