<form [formGroup]="cookieConsentForm" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h4 class="modal-title" id="cookieconsent-modal-title">Manage Cookie Consent</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <p>
        Please select the type of cookies you want to allow for the LipidLibrarianWeb.
      </p>
      <p>
        <ngb-alert [dismissible]="false" *ngIf="f['enable_session_tracking_cookies'].value == false">
          <strong>Warning:</strong>
          If you disable the session tracking cookie, LipidLibrarianWeb will not be able to remember your results beyond reloading the page. You'll have to remember/copy-paste the session token yourself.
        </ngb-alert>
      </p>
    </div>
    <div class="form-group form-check">
      <input
        id="enable_session_tracking_cookies"
        type="checkbox"
        formControlName="enable_session_tracking_cookies"
        class="form-check-input"
      />
      <label for="enable_session_tracking_cookies" class="form-check-label">
        Accept Session Tracking Cookies
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Submit</button>
  </div>
</form>
